.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-border);
    padding: 10px 5px;
}

.row:last-child {
    border-bottom: none;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.description > div:first-child {
    font-size: 18px;
    padding: 10px 0px;
}

.description > div:last-child {
    font-size: 12px;
    opacity: 0.7;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    text-align: left;
}

.solution {
    text-transform: uppercase;
    font-family: var(--mono-font), monospace;
}
